fastapi
uvicorn[standard]
pydantic-settings
BinaryOptionsToolsV2
aiosqlite
itsdangerous
jinja2
python-multipart
websockets
ta-lib
numpy
pandas
requests
python-dateutil
tzlocal
colorama
pywebview
git+https://github.com/Mastaaa1987/PocketOptionAPI-v2.git