{% extends "base.html" %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Pocket Option Bot</h1>
        <form action="/auth/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}